# Java / Maven
target/
*.class
*.jar
*.war
*.ear
*.log
.mvn/wrapper/
stacktrace.log

# Node.js / Frontend
node_modules/
dist/
build/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.project/
.classpath
.factorypath
nbproject/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Docker
docker/.env

# Temps / Autres
tmp/
**/AppData/Local/Temp/
**/bin/
**/obj/
